*{
	padding: o;
	margin: 0; 
	font-family: U8,sans-serif;
	box-sizing: border-box;
}
body{
	background-color: rgb(6, 40, 99);

}

.corner-images img{
	position: fixed;
	width: 150px;
	height: 150px;
}
.corner-images .top-right{
	right: -40px;
	top: -40px;

}
.corner-images .top-left{
	left: -40px;
	top: -40px;

}
.corner-images .down-right{
	right: -40px;
	bottom: -40px;

}
.corner-images .down-left{
	left: -40px;
	bottom: -40px;

}
.logo{
	text-align: center;
	padding: 50px 0;
	position: relative;
	z-index: 1;
}
.form{
	background-color: white;
	min-width: 100px;
	max-width: 400px;
	margin: 0 auto;
	padding: 50px;
	border-radius: 20px 20px 20px 0 ;
	position: relative;
	z-index: 1;
}
form .heading{
	text-align: center;
	padding-bottom: 20px;
}
.form  h1{
	color: #083e9e;
	font-size: 1.25rem;
}
.form p{
	font-size: .875rem;
	    color: #4a5568;
	font-family: Karla,sans-serif;
}
form .form-group{
	margin-bottom: 30px;
}
form .form-group label{
	font-size: .75rem;
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
	color: #4a5568;
}
form .form-group input, 
	.form-group select{
	width: 100%;
	height: 50px;
	color: #1a202c;
	background-color: #edf2f7;
	font-size: 16px;
	border:1px;
	padding: 15px 10px;

}
form .summit button{
	width: 100%;
	height: 50px;
	background-color: rgb(8, 62, 158);
	padding: 20px 0;
	color: white ;
	text-transform: uppercase;
	text-align: center;
	border-radius: 10px 10px 10px 0;
	font-weight: 700px;

}
p{
	text-align: center;
	margin: 50px 0;

}
p a{
	color: white;
	text-decoration: none;
}